[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
responses = "*"
mock-open = "*"

[packages]
click = "*"
requests = "*"
cerberus = "*"
colorama = "*"

[requires]
python_version = "3.8"
